.blue {
    color: "#1c82b2";
    stroke: "#1c82b2 !important";
}
.blue path {
    stroke: "#1c82b2 !important";
}
.green {
    color: "#48a148";
    stroke: "#48a148 !important";
}
.green path {
    stroke: "#48a148 !important";
}
.groupText span {
    font-size: 20px;
    color: #555;
    max-width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

[direction="rtl"] .MuiSelect-select.MuiSelect-select {
    padding-right: 12px;
}
