#notificationTitle,
#notificationText {
    padding-right: 10px;
    padding-left : 10px;
    font-family  : Assistant;
    font-weight  : 400;
    font-size    : 15px;
    height        : auto;
}

.summaryModal {
    min-width: 850px;
}

.dialogBox {
    min-width: 100%;
}

@media screen and (max-width: 768px) {
    .summaryModal {
        min-width: 330px;
    }

    .wizardButtonContainer {
        flex-direction : column;
        justify-content: center;
        align-items    : center;
        align-content  : center;
        width          : 100% !important;
        padding-bottom : 45px;
        margin-top     : auto;
    }

    .wizardButtonContainer * {
        width : 100%;
        margin: 0 !important;
    }
    .baseButtonsContainer
    {
        flex-direction : column;
        justify-content: center;
        align-items    : center;
        align-content  : center;
        width          : 100% !important;
        padding-bottom : 45px;
        margin-top     : auto;
    }

    .baseButtonsContainer * 
    {
        width : 100%;
        margin: 0 !important;
    }
    .baseButtonsContainer button {
        margin-top: 8px !important;
    }


    .wizardButtonContainer button {
        margin-top: 8px !important;
    }

    .wizardButtonContainer div:last-child {
        display       : flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 960px) {
    .dialogBox {
        min-width: unset !important;
    }
}

.MuiGrid-align-items-xs-flex-start {
    align-content: flex-start !important;
}

textarea.error,
input.error,
div.error {
    border-bottom: 1px solid red;
    border-radius: 2px;
}

.MuiTooltip-tooltipPlacementTop,
.MuiTooltip-tooltipPlacementLeft {
    font-size: 12px;
}

.MuiPickersTimePickerToolbar-hourMinuteLabel {
    flex-direction : row !important;
    align-items    : center !important;
    justify-content: center !important;
    width          : 100%;
}

.MuiPickersTimePickerToolbar-ampmSelection {
    align-items    : flex-end !important;
    justify-content: flex-end !important;
    margin-right   : 0 !important;
    margin-left    : 0 !important;
}

.rtl .MuiDialogActions-spacing,
.rtl .MuiPickersCalendarHeader-switchHeader {
    direction: rtl;
}