.blue {
    color: "#1c82b2";
    stroke: "#1c82b2 !important";
}
.blue path {
    stroke: "#1c82b2 !important";
}
.green {
    color: "#48a148";
    stroke: "#48a148 !important";
}
.green path {
    stroke: "#48a148 !important";
}
.groupText span {
    font-size: 20px;
    color: #555;
    max-width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.MuiSelect-select.MuiSelect-select {
    padding-inline-start: 12px;
    padding-inline-end: 12px;
}

/* .MuiListItemSecondaryAction-root {
    left: auto;
    right: 16px;
}

[dir="rtl"] .MuiListItemSecondaryAction-root {
    right: auto !important;
    left: 16px !important;
} */
