body {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiAutocomplete-option[aria-selected="true"] {
  background-color: rgb(210 25 25 / 8%) !important;
}

@font-face {
  font-family: 'OpenSansHebrew';
  src: local('OpenSansHebrew'),
    url(./assets/fonts/OpenSansHebrew-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSansHebrew-Bold';
  src: local('OpenSansHebrew-Bold'),
    url(./assets/fonts/OpenSansHebrew-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSansHebrew-ExtraBold';
  src: local('OpenSansHebrew-ExtraBold'),
    url(./assets/fonts/OpenSansHebrew-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'pulseemicons';
  src: local('pulseemicons'),
    url(./assets/fonts/pulseemicons.ttf) format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');
